* {
  box-sizing: border-box;
  font-family: Asul, sans-serif;
}

body {
  margin: 0 auto;
  background-color: #1a1514;
}

button:hover,
a:hover {
  cursor: pointer;
}

.mobile-nav {
  width: 100%;
  height: 8.5rem;
  padding-bottom: 1rem;
  background-color: #1a1514;
  align-items: center;
}

.logo {
  width: 130px;
  height: 130px;
}

.fa-bars {
  color: white;
}

.fa-bars:hover {
  color: #fdbf01;
}

.one-column {
  display: flex;
  justify-content: center;
}

.gandalf-container {
  position: relative;
}

.gandalf-text {
  position: absolute;
}

#nav-links {
  display: none;
  width: 100%;
  height: auto;
  max-height: calc(100vh - 8.5rem);
  position: absolute;
  top: 8.5rem;
  left: 0;
  background-color: #1a1514;
  padding: 1rem;
  z-index: 1;
}

#nav-links > a {
  display: block;
  padding: 0.75rem 0;
  color: white;
  text-decoration: none;
}

#nav-links > a:hover {
  color: #fdbf01;
}

#sign-button {
  bottom: 2.5rem;
  border: none;
  border-radius: 25px;
  padding: 5px 20px;
  background-color: #ebe8e1;
}

#join-text {
  bottom: 4rem;
  color: white;
}

#dare-text {
  letter-spacing: 3px;
  top: 0.5rem;
  color: white;
}

#nav-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

#bars-wrapper {
  display: flex;
  padding-top: 2rem;
  padding-left: 1rem;
}

#white-line {
  border: 1px solid white;
  margin: 0;
  top: 8rem;
  width: 100%;
  position: absolute;
}

#title-image {
  min-width: 200px;
  max-width: 800px;
  height: auto;
}

#gandalf-background {
  width: 100%;
  max-height: 800px;
  object-fit: cover;
}

#gandalf-background:hover {
  filter: blur(1.5px) brightness(90%);
  transition: filter 0.2s ease-in-out;
}
