* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #1a1514;
}

nav {
  display: flex;
  width: 100%;
  padding-bottom: 1rem;
  background-color: #1a1514;
}

ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 7.5rem;
  padding: 0;
  margin: 0;
}

.logo {
  width: 130px;
  height: 130px;
}

.fa-bars {
  color: white;
}

.one-column {
  display: flex;
  justify-content: center;
}

.gandalf-container {
  position: relative;
}

.gandalf-text {
  position: absolute;
}

#sign-button {
  bottom: 2rem;
  border: none;
  border-radius: 25px;
  padding: 8px 20px;
  background-color: #ebe8e1;
}

#join-text {
  bottom: 4rem;
  color: white;
}

#dare-text {
  top: 0.5rem;
  color: white;
}

#nav-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#nav-bars {
  padding-left: 1rem;
}

#white-line {
  border: 1px solid white;
  margin: 0;
  top: 8rem;
  width: 100%;
  position: absolute;
}

#title-image {
  width: 75%;
  height: auto;
}

#gandalf-background {
  width: 100vw;
  max-height: auto;
  justify-content: center;
}
